[submodule "NullEngine/vendor/spdlog"]
	path = NullEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "NullEngine/vendor/GLFW"]
	path = NullEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "NullEngine/vendor/JSON"]
	path = NullEngine/vendor/JSON
	url = https://github.com/nlohmann/json
[submodule "NullEngine/vendor/glm"]
	path = NullEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "NullEngine/vendor/imgui"]
	path = NullEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "NullEngine/vendor/stb/stb"]
	path = NullEngine/vendor/stb/stb
	url = https://github.com/nothings/stb
[submodule "NullEngine/vendor/Box2D"]
	path = NullEngine/vendor/Box2D
	url = https://github.com/erincatto/box2d
[submodule "NullEngine/vendor/magic_enum/magic_enum"]
	path = NullEngine/vendor/magic_enum/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "NullEngine/vendor/ImGuizmo/ImGuizmo"]
	path = NullEngine/vendor/ImGuizmo/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "NullEngine/vendor/sol2/sol2"]
	path = NullEngine/vendor/sol2/sol2
	url = https://github.com/ThePhD/sol2
